.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  border-radius: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
  /* border-bottom: 1px solid lightgray; */
}

.header_left {
  display: flex;
  align-items: center;
}

.header_search {
  padding: 10px;
  display: flex;
  align-items: center;
  color: gray;
  border-radius: 5px;
  height: 22px;
  background-color: #eef3f8;
}

.header_search > input {
  outline: none;
  border: none;
  background: none;
}

.header_left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
}

.header_right {
  display: flex;
}
