.widgets {
  position: sticky;
  top: 80px;
  flex: 0.2;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 10px;
  -webkit-box-shadow: -2px 3px 11px 2px rgba(0, 0, 0, 0.67);
  box-shadow: -2px 3px 11px 2px rgba(0, 0, 0, 0.67);
}

.widgets_headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.widgets_headers > h2 {
  font-size: 16px;
  font-weight: 500;
}

.widgets_article {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.widgets_article:hover {
  background-color: whitesmoke;
}

.widgetsarticle_left {
  color: #0177b7;
  margin-right: 5px;
}

.widgets_article_right > h3 {
  font-size: 14px;
}

.widgets_article_right > p {
  font-size: 12px;
  color: gray;
}
